[Unit]
Description=Nginx
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=true
WorkingDirectory=/home/diazmatias/Nginx
ExecStart=docker-compose up -d
ExecStop=docker-compose down

[Install]
WantedBy=multi-user.target
